## Creating a SQLite Database from our CSV Files

Using pandas and sqlite to create our .db file

In [1]:
import pandas as pd
import sqlite3

We use pandas to load the csv into a dataframe and display the first few rows

In [2]:
bite_df = pd.read_csv('assets/Health_AnimalBites.csv')
print(bite_df.head())

             bite_date SpeciesIDDesc BreedIDDesc GenderIDDesc       color  \
0  1985-05-05 00:00:00           DOG         NaN       FEMALE  LIG. BROWN
1  1986-02-12 00:00:00           DOG         NaN      UNKNOWN   BRO & BLA
2  1987-05-07 00:00:00           DOG         NaN      UNKNOWN         NaN
3  1988-10-02 00:00:00           DOG         NaN         MALE   BLA & BRO
4  1989-08-29 00:00:00           DOG         NaN       FEMALE     BLK-WHT

   vaccination_yrs     vaccination_date victim_zip AdvIssuedYNDesc  \
0              1.0  1985-06-20 00:00:00      40229              NO
1              NaN                  NaN      40218              NO
2              NaN                  NaN      40219              NO
3              NaN                  NaN        NaN              NO
4              NaN                  NaN        NaN              NO

  WhereBittenIDDesc      quarantine_date DispositionIDDesc head_sent_date  \
0              BODY  1985-05-05 00:00:00           UNKNOWN            NaN
1              BODY  1986-02-12 00:00:00           UNKNOWN            NaN
2              BODY  1990-05-07 00:00:00           UNKNOWN            NaN
3              BODY  1990-10-02 00:00:00           UNKNOWN            NaN
4              BODY                  NaN           UNKNOWN            NaN

  release_date ResultsIDDesc
0          NaN       UNKNOWN
1          NaN       UNKNOWN
2          NaN       UNKNOWN
3          NaN       UNKNOWN
4          NaN       UNKNOWN

Now sqlite creates a database and our first table named Bites

In [3]:
with sqlite3.connect('lunacy.db') as conn:
    bite_df.to_sql('Bites', conn)

Now we do the same for our csv with moon phase data

In [4]:
moon_df = pd.read_csv('assets/moon_illumination_1800-2100.csv')
print(moon_df.head())

   Unnamed: 0                    date  illum_pct           phase
0           0  1800-01-01 12:00:00.00      36.00   first quarter
1           1  1800-01-02 12:00:00.00      45.58   first quarter
2           2  1800-01-03 12:00:00.00      55.14   first quarter
3           3  1800-01-04 12:00:00.00      64.41   first quarter
4           4  1800-01-05 12:00:00.00      73.12  waxing gibbous

This will become the table called Moon

In [5]:
with sqlite3.connect('lunacy.db') as conn:
    moon_df.to_sql('Moon', conn)